/* Reset */
* {
    font-family: 'Gorditas', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Contenedor del header */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #eaeaea;
  }
  
  
  /* Logo */
  .logo {
    display: flex;
    align-items: center;
    gap: 1px;
  }
  
  .titulo1{
    text-decoration: none;
    font-size: 35px;
    font-weight: 700;
    color: #00B2EE;
  }
  .titulo2{
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: #3EBD2B;
  }
  .titulo3{
    text-decoration: none;
    font-size: 35px;
    font-weight: 700;
    color: #EA268F;
  }
  .titulo1:hover{
    font-size: 40px;
  }
  .titulo2:hover{
    font-size: 30px;
  }
  .titulo3:hover{
    font-size: 40px;
  }


  .logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  /* Navegación */
  .nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
  }
  
  .nav a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    transition: color 0.3s;
  }
  
  .nav a:hover {
    color: #0077ff;
  }
  
  /* CTA botón */
  .cta .btn {
    background-color: #DFA400;
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.3s;
  }
  
  .cta .btn:hover {
    background-color: #005bcc;
  }
/* Botón hamburguesa oculto por defecto */
.menu-toggle {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

@media (max-width: 1000px) {
  .header {
    flex-wrap: wrap; /* permite que el nav se baje a otra línea */
    padding: 15px 20px; /* menos padding en móvil */
  }

  .menu-toggle {
    display: block;
    font-size: 24px;
  }

  .nav {
    display: none;
    width: 100%;
  }

  .titulo1{
    font-size: 25px;
  }
  .titulo2{
    font-size: 20px;
  }
  .titulo3{
    font-size: 25px;
  }

  .nav.active {
    display: flex;
    flex-direction: column;
    align-items: center; /* centra los enlaces */
    gap: 15px;
    margin-top: 10px;
  }

  .nav ul {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    text-align: center; /* centra los textos */
  }

  .cta {
    display: none; /* lo ocultamos en móvil */
  }
}